@font-face {
  font-family: 'Hardpixel';
  src: url('../fonts/hardpixel.otf');
}

@font-face {
  font-family: 'Lazer84';
  src: url('../fonts/lazer84.ttf');
}

@font-face {
  font-family: 'Summer85';
  src: url('../fonts/summer85.ttf');
}
